@import url('http://fonts.cdnfonts.com/css/anivers');
@import url('http://fonts.cdnfonts.com/css/digital-7-mono');
body {
  margin: 0;
  font-family: 'Anivers', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
